.app-container {
  display: grid;
}

main {
  padding: 20px;
  background: #f4f4f4;
}

:host {
  display: block;
  height: 100vh;
}

.mat-list-item-active{
  background-color: rgba(0, 0, 0, 0.04);
  
}