.header {
  flex-shrink: 0;
}

.footer {
  flex-shrink: 0;
  height: 50px;
}

.content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.mdc-list-item:hover::before,
.mdc-list-item:focus::before {
  background-color: rgba(0, 0, 0, 0);
}

.navlist {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
