<div>
  <app-navbar (toggleSidenav)="toggleSidenav()"></app-navbar>

  <mat-sidenav-container>
    <mat-sidenav
      #drawer
      [opened]="drawerOpen()"
      [mode]="sidenavMode()"
      position="start"
    >
      <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-700 mb-4 border-b pb-2">
          Navigation
        </h3>
        <mat-nav-list class="space-y-1">
          @for (item of navItems; track item.route) {
            <a
              mat-list-item
              [class]="[
                'flex items-center',
                activeRoute() === item.route ? 'bg-red' : 'text-gray-600',
              ]"
              (click)="setActiveRoute(item.route); closeSidenavOnSmallScreen()"
              routerLink="/{{ item.route }}"
            >
              <mat-icon class="mr-3">{{ item.icon }}</mat-icon>
              <span>{{ item.label }}</span>
            </a>
          }
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>
</div>
