:root {
  height: 100%;
}

.product-detail {
  padding: 12px;
  max-height: 100%;

  img {
    max-height: 200px;
    width: fit-content;
    margin: 0 auto;
  }

  max-width: 400px;
}

.mat-grid-tile-content{
  height: 100% !important;
}