// :host {
//   height: 100%;
//   width: 100%;
//   overflow: hidden;;
// }

// .container {
//   height: 100%;
//   width: 100%;

//   display: grid;
//   align-items: flex-start;

//   img {
//     height: fit-content;
//     width: 100%;
//     object-fit: contain;
//   }
// }
.mat-expansion-panel-header {
  transition: all 0.3s ease;
}

.mat-expansion-panel-header.mat-expanded {
  height: auto;
}
