.navbar {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;

  .logo {
    padding: var(--small-gap);

    img {
      height: 70px;
    }
  }
}
