.navbar {
  gap: 12px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  max-height: var(--header-height);

  .logo {
    padding: var(--small-gap);
    height: 100%;
  }

  button {
    display: grid;
    padding: 15px;
  }
}
