.landing-page {
  img {
    height: 600px;
    object-fit: cover;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.3);
  }
}
