@use "@angular/material/prebuilt-themes/rose-red.css";
@use "tailwindcss";
@use "app/styles/variables.scss";

@font-face {
  font-family: "DM_SERIF_ITALIC";
  src: url("/fonts/DM_SERIF_ITALIC.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "DM_SERIF";
  src: url("/fonts/DM_SERIF.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GOLOS_MEDIUM";
  src: url("/fonts/GOLOS_MEDIUM.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "GOLOS_MEDIUM", Roboto, "Helvetica Neue", system-ui, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

// material overrides
:host,
body {
  --mat-motion-ease-in-out: cubic-bezier(0.25, 0.75, 0.5, 1.25) !important;
}

.mdc-button__label {
  align-items: center;
  display: grid;
  justify-items: center;
}
