@use "@angular/material/prebuilt-themes/rose-red.css";
@use "tailwindcss";
@use "app/styles/variables.scss";

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
